@charset "ISO-8859-1";

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
form{
	border-radius: 10px;
	height: 200px;
	width: 200px;
	background-color: deepskyblue;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
	
}
form .inputBox{
	height: 50px;
	width: 50px;
	text-align: center;
	border: none;
	background-color: papayawhip;
	border-radius:10% ;
	font-size: 25px;
}
form .button{
	background-color: lightblue;
	border: none;
	width: 100px;
	height: 35px;
	border-radius: 10px;
	cursor: pointer;
}