@charset "ISO-8859-1";

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background-color: lightcyan;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

body .Title {
	height: fit-content;
	width: fit-content;
	padding: 20px;
}

section {
	height: fit-content;
	width: 300px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

section h1 {
	height: fit-content;
	width: fit-content;
	padding: 10px;
	background-color: white;
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 2px 2px 5px 0px black;
}

h1 a {
	text-decoration: none;
	font-size: 15px;
	color: black;
}